<section class="mt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="prom-card">
            <div class="d-flex">
              <div class="col-md-10">
        <a routerLink="/merchant/all-promotions" style="text-decoration: none">   <p class="pr-text" style="color: #03406D;"> All Promotions</p> </a>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <p class="cont-text"><span  style="color: #4152a5; ">Total :</span> <a routerLink="/merchant/all-promotions"  style="font-size: 34px; text-decoration: none;">  102 </a></p>
            <!-- <p class="span-text"><span class="perc-text">20%</span> Increased last month</p> -->
          </div>
        </div>
        <div class="col-md-4">
            <div class="prom-card">
              <div class="d-flex">
                <div class="col-md-10">
                    <a style="text-decoration: none;" routerLink="/merchant/active-promotions">    <p class="pr-text" style="color: #03406D;">    Active Promotions </p> </a>
                </div>
                <div class="col-md-2">
                </div>
              </div>
              <p class="cont-text"> <span style="color: #4152a5;">Total :</span>    <a style="text-decoration: none;font-size:34px ; " routerLink="/merchant/active-promotions">   28 </a></p>
              <!-- <p class="span-text"><span class="perc-text">20%</span> Increased last month</p> -->
            </div>
          </div>
          <div class="col-md-4">
            <div class="prom-card">
              <div class="d-flex">
                <div class="col-md-10">
                    <a routerLink="/merchant/recent-promotions" style="text-decoration: none;">     <p class="pr-text" style="color: #03406D;"> Recent Purchased Promotions</p> </a>
                </div>
                <div class="col-md-2">
                </div>
              </div>
              <p class="cont-text" style="color:#161616"><span style="color: #4152a5;">Total :</span>  <a routerLink="/merchant/recent-promotions"  style="text-decoration: none; font-size:34px">  3 </a></p>
             
                
             
              <!-- <p class="span-text"><span class="perc-text">20%</span> Increased last month</p> -->
            </div>
          </div>
      </div>
    </div>
  </section>

