.pro-card{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 15px;
    border-radius: 3px;
    width: 100%;
    .pro-head{
        font-size: 17px;
        color:#4152a5;
        font-weight: 500;
    }
    .delete-icon{
        float: right;
        font-size: 21px;
        color: #4152a5;
    }
    .style-c{
        list-style-type: none;
        font-size: 17px;
         color: grey;
    }
    .space-cls{
        padding: 10px 0px;
        font-size: 21px;
        color: grey;
    }
    .update-btn{
       background-color: #4152a5;
       color: white;
       padding: 0px 18px;
    margin: 6px 0px;
    font-size: 15px;
    }
.view-btn{
    background-color: #4152a5;
       color: white; 
       padding: 0px 18px;
    margin: 6px 6px;
    font-size: 15px;
}
  }
  .free{
    margin: 6px 0px;
 .free-text{
    font-size: 16px;
    float: right;
    color: green;
  }
  }
  .free{
    margin: 6px 0px;
 .pre-text{
    font-size: 15px;
   color: #edd400;
    font-weight: 500;
   .crown-icon{
    font-size: 18px;
   }
  }
  }
 .exist-text{
    color: #4152a5;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
 }
 .cont-text{
    // font-size: 20px;
    // font-weight: bold;
    //  padding: 10px 10px !important;
     font-size: 16px;
    font-weight: bold;
    padding: 16px 46px !important;
 }
 .perc-text{
    color: #4152a5;
    
 }
 .pr-text{
    color: grey;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 10px !important;
 }
 .span-text{
 padding: 10px 10px !important;
   font-size: 16px;
 }
 .prom-card{
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
   padding: 6px 6px;
 }
 .plus-icon{
   border: 1px solid darkgrey;
    font-size: 18px;
    border-radius: 50%;
    padding: 8px 8px;
    color: grey;
    margin: 0px auto;
    display: table;
 }
 .add-text{
  padding: 12px 10px !important;
   font-size: 16px;  
 }
 .card-chart{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 100%; 
 }

 .dataTables_filter {
    float: right;
  }
  
  .table-hover > tbody > tr:hover {
      background-color: lighten(#4152a5, 40%);
  }
  //important if we want to add ellipsis
  //to cells with content longer than width
  
  //search
  .height{
    height: 100vh;
   }
   
  
   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
     
   }
  
   .search input{
  
    height: 50px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
  
  
   }
  
  
   .search input:focus{
  
    box-shadow: none;
    border: 2px solid blue;
  
  
   }
  
   .search .fa-search{
  
    position: absolute;
    top: 20px;
    left: 16px;
  
   }
  
   .search button{
  
    position: absolute;
      top: 4px;
      right: 5px;
      height: 42px;
      width: 110px;
      background: blue;
  
   }
  
  
  .table {
    @media only screen and (min-width: 768px) {
      table-layout: fixed;
      //this declaration overwrites 
      //the default plugin style
      max-width: 100% !important;
    }
  }
  
  thead {
    background: #ddd;
  }
  
  .table td:nth-child(2) {
    overflow: hidden;
    //white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  // .highlight {
  //   background: lighten(yellow,30%);
  // }
  
  @media only screen and (max-width: 767px) {
    
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr,
    tfoot tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50% !important;
    }
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    
    .table td:nth-child(1) {
        background: #ccc;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: bold;
    }
    /*
      Label the data
      */
    td:nth-of-type(1):before {
      content: "Name";
    }
    td:nth-of-type(2):before {
      content: "Position";
    }
    td:nth-of-type(3):before {
      content: "Office";
    }
    td:nth-of-type(4):before {
      content: "Age";
    }
    td:nth-of-type(5):before {
      content: "Start date";
    }
    td:nth-of-type(6):before {
      content: "Salary";
    }
    
    .dataTables_length {
      display: none;
    }
  }
  
  
  
  .table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
    font-size: 12px !important;
  }
//  popup
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 90px;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
  background-color: rgba(82, 136, 217, 0.6)
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 78%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
    top: -5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    /* color: #333; */
    border: none;
    background: white;
    right: -35px;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.head{
    text-transform: inherit;
    color: #4152a5;
    font-size: 25px;
    padding: 10px 2px;
}


@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}

