<section class="mt-4 mb-4"> 
   
    <div class="container"> 
        <div class="row"> 
            
    <div class="col-md-4">
        <div class="pro-card mb-4" >
          <div class="d-flex">
            <div class="col-md-10">
              <h5 class="pro-head mb-2"> Active Promotions No.1</h5>
              <ul>
                <li class=" style-c"><i class="fa-regular fa-image space-cls"></i> &nbsp;img Banners</li>
                <li class="style-c"><i class="fa-brands fa-facebook space-cls"></i> &nbsp;888f Facebook Media Posts
                </li>
                <li class="style-c"><i class="fab fa-instagram space-cls"></i> &nbsp;10 Instagram Media Posts</li>
              </ul>
            </div>
            <div class="col-md-2">
              <!-- <i class="far fa-trash-alt delete-icon"></i> -->
            </div>
          </div>
          <div class="d-flex">
            <div class="col-md-9">
              <div class="d-flex">
                <button class="btn update-btn">Update</button>
                <button class="btn view-btn">View More</button>
              </div>
            </div>
            <div class="col-md-3">
              <!-- <div class="free">
                <p class="d-flex pre-text" *ngIf="data.promotiontype === 'Premium'">
                  <i class="fas fa-crown crown-icon"></i> &nbsp;Premium</p>
                <p class="free-text" *ngIf="data.promotiontype === 'Free'">Free</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>
    
