<div class="mars"></div>
<img height="100px" src="../../assets/image/404.png" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title" style="color: #4152a5;">Page not found!!</p>
<p class="subtitle" style="color:#4152a5 ;">
  You’re either misspelling the URL <br /> or requesting a page that's no longer here.
</p>
<!-- <div align="center">
  <a class="btn-back" routerLink="/" style="color: #4152a5;" >Back to Home page</a>
</div> -->
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />