
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-drawer {
   width: 270px;

  
  }
  .mat-drawer-container {
    height: 100%;
  }
  
  .mat-drawer {
    background:#4152a5;
  }
  .mat-drawer-content{
    background-color: #fff;
    
  }
  ::ng-deep .top-nav{
    position: sticky ;
    z-index: 999;
  
  }
  

    
  .no-view {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .no-view {
      display: block;
      background-color: lightblue;
    }
    .container-message {
      display: none;
    }
  }
  