<div class="container wrapper">

       <h3 style="color: #4152a5;"> Laptop Services   </h3> 
       <!-- <div class="d-flex"> 
       
      <div>  <b>Register Outlet No:   4 </b> &nbsp; <b>Branch: Masabtank,Hyderabad. </b>  </div>
       <div>  <b>Branch: Masabtank,Hyderabad. </b> </div>
    
</div>  -->
<div class="d-flex ">
    <div class="p-2"> <b>Register Outlet No:   4 </b> <br> <b>Branch: Masabtank,Hyderabad. </b> <br> <b>UPI ID: pqrs@bank </b> </div>
    <div class="p-2"> </div>
    <div class="ml-auto p-2"> <img class="qr-img" width="70" src="../../../assets/image/qr.png" alt="qr code" /></div>
  </div>
    
    <div class="col-md-12 mb-4 " >
      <!-- <h2 class="head">List of Transactions</h2> -->
      
      <div class="search mt-3" >
        <i class="fa fa-search"></i>
        <input type="text" class="form-control" placeholder="Search..." >
        <button class="btn btn-primary">Search</button>
      </div>
      
    </div>
    <div class="table-responsive">
    <table class="table table-bordered table-hover w-100" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <!-- <th >USER_ID</th> -->
                <!-- <th >TYPE</th> -->
                <th class="col-md-1">STATUS</th>
                <th class="col-md-1">POINTS</th>
                <th class="col-md-3">MARCHENT UPI</th>
                <th class="col-md-2">MESSAGE</th>
                <th class="col-md-3">VPA</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>2022-09-26T09:41:22.171Z</td>
                <!-- <td class="highlight">{{data.userid}}</td> -->
                <!-- <td>{{data.type}}</td> -->
                <td>success</td>
                <td>0 </td>
                <td>ipay.94.198784.8341554858@icici</td>
                <td>Your Transaction of ₹1</td>
                <td>ipay.94.198784.9177123162@icici</td>
            </tr>
            
        </tbody>
        <!-- <div  class="offset-6" style="font-style:italic;" *ngIf="!!term">   No Record Found </div> -->
    </table>
  </div>
  </div>
