<section class="scheme-subscribe-list row ">

    <section class="col-md-12 mt-3 ml-4 pl-4">
      <h3 class="offset-4" style="    color: #4152a5;">Promotion Details</h3>
  
      <div class="scheme-content ml-4 mr-4">
        
        <div>
            <ul> 
                <li>   Paysikka offers unique promotional Plus scheme earn benefits of getting one month free installment from Goldsikka on completion of eleven months.</li>
                <li>   Purchase any reward of your choice at just 50% V.A. after completion of eleven months tenure</li>
                <li>   Paysikka offers unique promotional Plus scheme earn benefits of getting one month free installment from Goldsikka on completion of eleven months.</li>
                <li>   Purchase any reward of your choice at just 50% V.A. after completion of eleven months tenure</li>
                <li>   Paysikka offers unique promotional Plus scheme earn benefits of getting one month free installment from Goldsikka on completion of eleven months.</li>
                <li>   Purchase any reward of your choice at just 50% V.A. after completion of eleven months tenure</li>

                <li>   Paysikka offers unique promotional Plus scheme earn benefits of getting one month free installment from Goldsikka on completion of eleven months.</li>
                <li>   Purchase any reward of your choice at just 50% V.A. after completion of eleven months tenure</li>

                <li>   Paysikka offers unique promotional Plus scheme earn benefits of getting one month free installment from Goldsikka on completion of eleven months.</li>
                <li>   Purchase any reward of your choice at just 50% V.A. after completion of eleven months tenure</li>
               

            </ul>
         
        
        
        
        
        
        
        
        </div>

      </div>
    </section>
    
    <button type="button" class="btn btn-primary btn-lg btn-block">Pay 6,580/-</button>

  </section>
  
