<section class="scheme-subscribe-list row ">
  
    <section class="col-md-12 mt-3 ml-4 pl-4" *ngFor="let data of ListofPomotionById">
      <h3 class="offset-4 pb-4 mt-4" style="    color: #4152a5;">Promotion Details</h3>
              <h5>{{data.promotiontype}}</h5>
  
      <div class="scheme-content ml-4 mr-4">
        
        <div>
            <ul > 
                <li> {{data.description}}</li>
               
               

            </ul>
         
        
        
        
        
        
        
        
        </div>

      </div>
    </section>
    
    <button type="button" class="btn btn-primary btn-lg btn-block">Pay 6,580/-</button>

  </section>
  
